

.Navbar{
    display: flex;
    flex-direction: row;
    background-size: cover;
    position: absolute;
    top: 2em;
    z-index: 1;
}

.MovemenContent{
    margin-left: 8em;
}
.UserLogin{
    margin-left: 70em;
}
a{
    padding-right: 2em;
    color: white;

}