

.loginFormwrapper{
    display: flex;
    background-color: #0d1422 ;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 5%;
  
}

.inputs{
    width: 25%;
    height: 50%;
}

  .example-full-width {
    width: 100%;
    display: flex;
    margin-top: 2em;
  }

 
.buttons{
  margin-left: 20%;
}

  button{
    margin-bottom: 2em;
  }

  .registerbtn{
    margin-right: 1em;
  }
  .resetbtn{
    margin-left: 1em;
  }
  .form-check{
    margin-bottom: 2em;
    margin-top: 2em;
    color: white;
  }

